:root {
  --dark-blue: #0f3057;
  --medium-blue: #00587a;
  --light-blue: #008891;
  --bone: #e7e7de;
  --vie: #e36387;
  --red: rgb(217, 83, 79);
}

* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--dark-blue);
  color: var(--bone);
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  padding-top: 2%;
}

#snippet {
  text-align: center;
  font-size: 1.85em;
  line-height: 1.625;
  margin-left: 4rem;
  font-weight: 400;
  margin-top: 3%;
}

#subBtn,
#delHistory
 {
  background-color: transparent;
  cursor: pointer;
  color: var(--bone);
  border-color: var(--bone);
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
}

#subBtn:hover,
#delHistory:hover {
  background-color: var(--medium-blue);
  color: var(--dark-blue);
  border-color: var(--light-blue);
}

.fa {
  color: var(--light-blue);
}

#loading {
  padding-top: 1rem;
  font-style: italic;
  font-size: 14px;
}

label {
  font-size: 22px;
}

.form-control,
.form-control:valid {
  background-color: var(--bone);
}

.list-group-item {
  color: var(--dark-blue);
}

.list-group-item:hover {
  cursor: pointer;
  background-color: var(--medium-blue);
  color: var(--bone);
}

#tableResults {
  background-color: var(--light-blue);
  margin: auto;
}

#tableResults h6 {
  color: var(--dark-blue);
}

table {
  background-color: var(--bone);
  border-radius: 1%;
  /*border-style: outset;
  border-color: var(--light-blue);*/
  /*box-shadow: inset 2px 2px var(--light-blue);*/
}

table th {
  color: var(--light-blue);
  font-weight: normal;
}

thead th,
table td {
  text-align: right;
}

tbody th {
  text-align: left;
}

table td {
  color: var(--dark-blue);
  font-weight: bold;
}

.table-sm td, .table-sm th,
.table td, .table th {
  padding: 10px;
  border: none;
}

td:hover {
  border: 1px inset var(--light-blue);
}

#cdcInfo {
  font-style: italic;
}

#aboutlink h2 {
  font-size: 2em;
  line-height: 1.625;
  font-weight: 400;
}
#aboutlink p {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.625;
}

footer h2 {
  text-align: center;
  width: 100%;
  font-size: 18px;
}

@media screen and (max-width: 980px) {
  #logo {
    font-size: 50px;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  #logo {
    font-size: 40px;
    position: relative;
  }
  #tableResults div {
  padding-left: none;
  }
  #graphcol {
    padding-top: 0;
    padding-bottom: 7%;
  }
}

@media screen and (max-width: 575px) {
  #logo {
    max-width: 150px;
    max-height: 150px;
  }
  #snippet {
    text-align: center;
    font-size: 1.25em;
    line-height: 1;
    font-weight: 300;
  }

  #stateCard {
    font-size: 0.75em;
    font-weight: 200;
  }

  #historyCard {
    font-size: 0.75em;
    font-weight: 200;
  }
  label {
    font-size: 1.75em;
  }
  #graphcol {
    padding-top: 7%;
    padding-bottom: 7%;
  }
   #clearBtn,
  #subBtn {
    font-size: smaller;
    text-align: left;
    max-width: 70%;
    white-space: wrap;
  }

  #historyBtn {
    font-size: 0.7em;
    align-self: left;
    text-align: left;
  }
  #aboutlink {
    font-size: 0.75em;
  }
  #aboutlink h2 {
    font-size: 1.55em;
  }
}

@media screen and (max-width: 768px) {
  #snippet {
    text-align: center;
    margin-left: 0.25em;
  }
  #tableResults div {
    padding-left: none;
  }
  #graphcol {
    padding-top: 0;
    padding-bottom: 5%;
  }
}