* {
    font-family: 'Ubuntu', serif;   
}
body {
    background-color: white;
    color: black;
}

header {
    background-color: #1b6ca8;
}
#logo {

    margin-left: 1rem;
    font-size: 55px;
     text-shadow: 1px 1px 1px;
 
} 
#snippet {
    text-align: center;
    font-size: 2em;
    line-height:1.625;
    margin-left: 4rem;
    font-weight: 400;
}
.card-body {
    background-color: #a6dcef;
}
.card-body-data {
    background-color: #f2aaaa;
}
.card-body-history {
    background-color: #e36387;
}
#stateCard {
    background-color: #1b6ca8;
    border:none;
    font-size: 1.25em;
    line-height:1.625;
    font-weight: 400;
}
#lastUpdate {
    font-size: 1em;
    line-height:1.625;
    font-weight: 300;
}
#confirmedCases {
    font-size: 1.25em;
    line-height:1.625;
    font-weight: 400;

}

#fatalityRate {
    font-size: 1em;
    line-height:1.625;
    font-weight: 300;
}

#deaths {
    font-size: 1.25em;
    line-height:1.625;
    font-weight: 400;
}
#historyCard {
    
    border:none;
    color: #eb4f1e;
    font-size: 1.25em;
    line-height:1.625;
    font-weight: 400;

}
#subBtn {
    background-color: transparent;
    cursor: pointer;
    border-color: white;
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
}

#subBtn:hover {
    background-color: #ddf3f5;
    color: black;
    border-color: black;
}

#clearBtn {
    background-color: transparent;
    border-color: white;
    cursor: pointer;
    text-align: center;
    max-width: 100%;
    white-space: nowrap; 
}

#clearBtn:hover {
    background-color: #ddf3f5;
    color: black;
    border-color: black;
}

#historyBtn {
    background-color: transparent;
    border-color: white;
    cursor: pointer;
    text-align: center;
    max-width: 100%;
    white-space: nowrap; 
    color: white;
} 

#historyBtn:hover {
    background-color: #f2aaaa;
    color: black;
    border-color: black;
}

label {
font-size: 22px;

}

#currentData {
    color: white;
    letter-spacing: -0.075rem;
    width: 100%;
    line-height: 1.25;
    font-weight: 400;
    font-size: 1.15em; 
   
    
}
#aboutlink h2 {
    font-size: 2em;
    line-height:1.625;
    margin-left: 1rem;
    font-weight: 400;
    color: #ffffff;
}
#aboutlink p {
    font-size: 1.25em;
    margin-left: 1rem;
    color: #ffffff;
    font-weight: 300;
    line-height:1.625;
}

footer h2 {
   text-align: center;
   width: 100%;
   font-size: 18px;
   background-color: #eb4f1e;  
}
@media screen and (max-width: 980px) {
#logo {
    font-size: 50px;
    position: relative;
}

}

@media screen and (max-width: 768px) {
    #logo {
    font-size: 40px;
    position: relative;
    }
    
}

@media screen and (max-width: 575px) {

    #logo {
        font-size: 30px;
        position: relative;
        }
#snippet {
            text-align: left;
            font-size: 1.5em;
            line-height:1;
            margin-left: 2rem;
            font-weight: 300;
        }



 #stateCard {
            font-size: .75em;   
            font-weight: 200;
        }
        
      #historyCard {
             font-size: .75em;
     font-weight: 200;
        
        }
        #subBtn {
           font-size: smaller;
            text-align: center;
            max-width:70%;
            white-space: wrap;
        }
        #clearBtn {
            font-size: smaller;
            text-align: left;
            max-width: 70%;
            white-space: wrap; 
        }
        #historyBtn {
            font-size: smaller;
            text-align: center;
            max-width: 70%;
            white-space: wrap; 
           
        }     
}

@media screen and (max-width: 768px) {
    #snippet {
        text-align: left;
        margin-left: .25em;
    }
}